@using Infrastructure.Entities
@using WebSite.ViewModels.Users
@model WebSite.ViewModels.Users.UsersListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>User name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserViewModel user in Model.Users)
            {
                <tr>
                    <td>@Html.ActionLink(user.UserName, "Edit", new { id = user.Id })</td>
                    <td>@user.Email</td>
                    <td>
                        @foreach (IRole role in user.Roles)
                        {
                            <span class="label label-info">@role.Name</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = user.Id }, new { @class = "glyphicon glyphicon-edit" })
                        @Html.ActionLink(" ", "Delete", new { id = user.Id }, new { @class = "glyphicon glyphicon-remove" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
        
</div>
