@model WebSite.ViewModels.Folders.CreateFileViewModel

@{
    Layout = null;
}

<div class="modal fade" id="createFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create file</h4>
            </div>
            @using (Html.BeginForm())
            {
                <div id="validationResult"></div>

                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.Name)*@
                    </div>
                    @Html.HiddenFor(model => model.Path)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }

        </div>
    </div>
</div>

