@using System.Web.Optimization
@using WebSite.Helpers
@model WebSite.ViewModels.Folders.FolderViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    @if (User.IsInRole("Administrator"))
    {
        <div class="row">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle col-md-2" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-plus"></span>
                    New
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Create folder", "Create", "Folders", new { path = Model.Path }, new { id = "createFolderButton", @data_toggle = "modal", @data_target = "#createFolderModal" })</li>
                    <li>@Html.ActionLink("Create file", "Create", "Files", new { path = Model.Path })</li>
                </ul>
            </div>
            <div class="btn-group hidden col-md-2" role="group" aria-label="Actions" id="actionsPanel">
                @Html.ActionLink("Delete", "Delete", "Folders", new { path = Model.Path }, new { type = "button", @class = "btn btn-default", id = "delete" })
                @Html.ActionLink("Rename", "Rename", "Folders", new { path = Model.Path }, new { type = "button", @class = "btn btn-default", id = "renameFolderButton", @data_toggle = "modal", @data_target = "#renameFolderModal" })
            </div>
        </div>
        
    }
    <div class="display-field">
        @Html.PathLink(Model.Path)
    </div>
    @Html.HiddenFor(model => model.Path, new { id = "pathInput" })
    <table class="table table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll" role="select"></th>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DirectoryInfo folder in Model.FoldersList)
            {
                <tr id=@folder.Name class="droppable draggable ui-droppable-hover">
                    <td><input type="checkbox" id=@folder.Name role="select"></td>
                    <td>@Html.FolderLink(folder, Model.Path)</td>
                    <td>@folder.LastWriteTime</td>
                </tr>
            }

            @foreach (FileInfo file in Model.FilesList)
            {
                <tr id=@file.Name class="draggable">
                    <td><input type="checkbox" id=@file.Name role="select"></td>
                    <td>@file.Name</td>
                    <td>@file.LastWriteTime</td>
                </tr>
            }
        </tbody>

    </table>
</div>
<p>
    @Html.ActionLink("Home", "Index")
</p>

@section scripts
{
    @Scripts.Render("~/bundles/folders")
}
