@using WebSite.Helpers
@model WebSite.ViewModels.Folders.FolderViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>FolderViewModel</legend>

    <div>
        @if (User.IsInRole("Administrator"))
        {
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-plus"></span>
                    New
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Create folder", "Create", "Folders", new { path = Model.Path })</li>
                    <li>@Html.ActionLink("Create file", "Create", "Files", new { path = Model.Path })</li>
                </ul>
            </div>
        }
        <div class="display-field">
            @Html.PathLink(Model.Path)
        </div>
        <ul>
            @foreach (DirectoryInfo folder in Model.FoldersList)
            {
                <li>@Html.FolderLink(folder, Model.Path)</li>
            }

            @foreach (FileInfo file in Model.FilesList)
            {
                <li>@file.Name</li>
            }
        </ul>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Home", "Index")
</p>
